{%- macro format_sections(sections) -%}
  {%- for section in sections -%}
    <section class="flex column">
      {{ format_title(section.title) }}
      <div class="{{ section.classes }}">
        {%- for subsection in section.sections -%}
          <section>
            {{ format_subtitle(subsection) }}
            {%- if subsection.data -%}
              <div class="data">
                {{ format_data(subsection.data) }}
              </div>
            {%- endif -%}
          </section>
        {%- endfor -%}
      </div>
    </section>
  {%- endfor -%}
{%- endmacro -%}

{%- macro format_title(section) -%}
  <div class="title">
    <h2>{{ section }}</h2>
    <hr>
  </div>
{%- endmacro -%}

{%- macro format_subtitle(item) -%}
  <div class="subtitle">
    <div class="flex base-align wrap">
      {%- if item.title or item.position or item.degree -%}
        <h3>{{ item.title or item.position or item.degree }}</h3>
      {%- endif -%}
      {%- if item.gpa -%}
        <h4>GPA: {{ item.gpa }}</h4>
      {%- elif item.location -%}
        <h5>{{ item.location }}</h5>
      {%- endif -%}
    </div>
    <div class="flex base-align wrap">
      <div class="org">
        {{ icon_image(item, "right-padded") }}
        {%- if item.subtitle or item.company or item.school -%}
          <h4>{{ item.subtitle or item.company or item.school }}</h4>
        {%- endif -%}
      </div>
      {%- if item.date -%}
        {%- if item.duration -%}
          <h5 class="date" title="{{ item.duration }}">{{ item.date }}</h5>
        {%- else -%}
          <h5 class="date">{{ item.date }}</h5>
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>
{%- endmacro -%}


{%- macro icon_image(item, classes="") -%}
  {%- if item.icon -%}
    <img src="{{ item.icon }}" 
    {% if item.icon_title -%}
       title="{{ item.icon_title }}" 
    {% endif -%}
    {%- if item.icon_alt -%}
       alt="{{ item.icon_alt }}" 
    {% endif -%}
     class="icon {{ classes }}">
  {%- endif -%}
{%- endmacro -%}

{%- macro format_data(info) -%}
  {%- if info is mapping -%}
    {%- if info.hover -%}
      <span title="{{ info.hover }}">
    {%- endif -%}
    {%- if info.link -%}
      <a href="{{ info.link }}">
    {%- endif -%}
    {%- if info.text -%}
      {{ info.text }}
    {%- endif -%}

    {{ icon_image(info, "green-filter left-padded") }}

    {%- if info.bullets -%}
      <ul>
        {%- for bullet in info.bullets -%}
          <li>{{ format_data(bullet) }}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    {%- if info.link -%}
      </a>
    {%- endif -%}
    {%- if info.hover -%}
      </span>
    {%- endif -%}
  {%- elif info is string -%}
    {{ info }}
  {%- else -%}
    <ul>
      {%- for datum in info -%}
        <li>{{ format_data(datum) }}</li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
{%- endmacro -%}


<!DOCTYPE HTML>
<html>
<head>
{%- block head %}
  {%- block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ page.meta.name }}">
    <title>{{ page.title }}</title>
    {% if not page %}<meta name="description" content="{{ config.site_description }}">
    {% else %}<meta name="description" content="{{ page.meta.description }}">{% endif %}
  {%- endblock %}


  {%- block styles %}
    <link rel="stylesheet" type="text/css" href="{{ 'css/resume_stylesheet.css'|url }}" media="screen, print"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet"> 
  {%- endblock %}

  <link rel="icon" type="image/svg+xml" href="{{ 'img/j.svg'|url }}">
{%- endblock %}
</head>

<body>
{%- block body -%}
<!--
  Author: Jeremy Richards
  License: CC-BY-SA-NC 4.0
  https://creativecommons.org/licenses/by-nc-sa/4.0/

  TL:DR; Use this, don't sell it, keep my name in the HTML comments, and share
    any different versions you make based on it.
-->
<div class="flex column" id="resume">
  <!-- This HTML is poorly formatted because I wanted the templating to be
    more readable than the finished product. You're probably better off looking
    at the templates that generated it by clicking on the GitHub link -->
  <div class="flex" id="header">
    <div class="flex column">
      <h1 class="name">{{ page.meta.name }}</h1>
      {%- if page.meta.position -%}
        <h3 class="title">{{ page.meta.position }}</h3>
      {%- endif -%}
      {%- if page.meta.summary -%}
        <div class="personal-summary">
          {{ format_data(page.meta.summary) }}
        </div>
      {%- endif -%}
    </div>
    <div class="max-content flex column">
      {%- for item in page.meta.contact -%}
        <div class="right-align">
          {{ format_data(item) }}
        </div>
      {%- endfor -%}
    </div>
  </div>

  <div class="flex" id="body">
    {%- if page.meta.sidebar -%}
      <div id="sidebar">
        {{ format_sections(page.meta.sidebar) }}
      </div>
    {%- endif -%}

    <div id="main">
      {{ format_sections(page.meta.main) }}
    </div>
  </div>

  <div id="footer">
    {{ format_sections(page.meta.footer) }}
  </div>
</div>
{% endblock %}
</body>
</html>
<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
