/* Redefine some styles just so the resume stylesheet is completely
self-contained */

:root {
  /* Define our color variables here */

  /* light mode */
  --bg-color: white;
  --text-color: #000d04;
  /* "highlight" is an overstatement */
  --highlight-text-color: black;
  --muted-text-color: #404040;

  --color: darkgreen;
  --brighter-color: #8dc26e;
  --brightest-color: forestgreen;
}

.green-filter {
  /* As calculated by https://stackoverflow.com/a/43960991/5889131
   * For 'forestgreen' aka rgb(34, 139, 34)
   */
  /*filter: invert(20%) sepia(97%) saturate(3230%) hue-rotate(124deg) brightness(100%) contrast(73%);

  /* As calculated by https://stackoverflow.com/a/43960991/5889131
   * For 'darkgreen' aka rgb(0, 100, 0)
   */
  filter: invert(21%) sepia(30%) saturate(6459%) hue-rotate(103deg) brightness(92%) contrast(111%);
}


#resume {
  box-sizing: border-box;
  /* half-inch margins on each side - A4 */
  /*
  height: calc(297mm - 2.54cm);
  width: calc(210mm - 2.54cm);
  */
  /* half-inch margins on EACH side - Letter (but don't use height on webpage) */
  width: calc(8.5in - 1in);
  margin: 5vh auto 10vh auto;
  /*
  outline: 2px solid green;
  */
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  /* View print style 
  border: solid var(--brighter-color);
  height: calc(11in - 1in);
  font-size: 14px;
  */
}

#resume *, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
#resume .flex {
  display: flex;
  justify-content: space-between;
  /* Late 2020 hype! */
  grid-column-gap: 1.5rem;
}
#resume .column {
  flex-direction: column;
}
#resume .grow {
  flex-grow: 1;
}
#resume .max-content {
  min-width: max-content;
}
#resume .right-align {
  text-align: right;
}
#resume .personal-summary {
  font-style: oblique 7deg;
  padding-top: 0.2rem;
}

#resume section {
  margin-top: 0.8rem;
}


#resume ul {
  /* Indent slightly as bullets have 0 spacing before, while text has a small
  amount. This also indents the line-wrapped bullet text a bit, but I don't
  mind how that looks. */
  margin-left: 0.2rem;
  list-style: inside square;
}
#resume ul ul {
  padding-left: 1.5rem;
  margin: 0;
}
#resume li {
  margin: 0;
  margin: 0.3rem 0;
}
/*
Styling these bullets across Chrome/Firefox/Safari was kind of a pain, since
all browsers use different methods to determine the spacing between a bullets
and the text content, and I want to use different bullets (square and the
details triangle).

I tried customizing the bullets with ::before and using `list-style: none;` but
Firefox made the `content: counter(list-item, square);` bullets way too large.

Eventually I gave up on something that felt "clean" and customized Chrome with
summary::-webkit-details-marker and Firefox with summary::marker and accepted
Safari would be off since I don't know anyone who uses it on desktop.
*/

/* Style the bullets properly */
#resume .details {
  list-style: none;
}
#resume li::marker {
  color: var(--brightest-color);
}
/* Chrome doesn't use the same amount of space after a bullet as the details
icon, so we force them to be the same */
#resume summary::-webkit-details-marker {
  padding-right: 0.35rem;
  color: var(--brightest-color);
}
/* and so in firefox we only have font sizing, not padding, to get the lines
to start at the same point */
#resume summary::marker {
  font-size: 0.8rem;
  color: var(--brightest-color);
}

#resume p {
  margin: 1rem 0;
}
#resume h1 {
  font-size: 2.8rem;
}
#resume h2 {
  font-size: 1.6rem;
}
#resume h3 {
  font-size: 1.4rem;
}
#resume h4 {
  font-size: 1.2rem;
}
#resume h5 {
  font-size: 1rem;
}
#resume b, strong {
  font-weight: 700;
}


#resume .name {
  color: var(--highlight-text-color);
}
#resume .title {
  color: var(--color);
}
#resume .base-align {
  align-items: baseline;
}
#resume .wrap {
  flex-wrap: wrap;
}
#resume .date {
  /* italic */
  font-style: italic;
  color: var(--color);
}
#resume .org {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}


#resume .icon {
  height: 1em;
  vertical-align: middle;
}
#resume .right-padded {
  padding-right: 0.5ch;
}
#resume .left-padded {
  padding-left: 0.5ch;
}


/* Style links and hoverable elements */
#resume a {
  padding: 0.125rem;
  border-radius: 8px;
  text-decoration: underline;
}
#resume a:link,a:visited {
  color: inherit;
}
#resume a:hover {
  /* https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3 */
  text-decoration: underline;
  /* TODO better color */
  background-color: var(--brighter-color);
}
#resume abbr {
  cursor: help;
  text-decoration: dotted underline;
}
#resume summary:hover {
  border: 2px solid var(--brighter-color);
  border-radius: 4px;
  margin: -2px;
  cursor: pointer;
}

/* outlines serve a purpose, even if they're ugly:
https://www.a11yproject.com/posts/2013-01-25-never-remove-css-outlines/
*/

#resume hr {
  width: 100%;
  background-color: var(--color);
  height: 2px;
  border: 0;
}
#resume h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: inherit;
}
#resume ul {
  list-style: inside square;
}




@media screen and (max-width: 8.5in) {
  #resume {
    width: 100%;
  }
  /* marginally responsive, which is more than good enough.
     Really, I just want to have a one-column option for ATS.
   */
  #resume * {
    flex-direction: column;
  }
}

@media print {
  body {
    width: 100%;
  }
  #resume {
    height: calc(11in - 1in);
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  #resume abbr {
    text-decoration: none;
  }
  @page {
    margin: 0.5in;
    size: letter portrait;
  }

  #resume summary {
    list-style: none;
  }
  #resume summary::-webkit-details-marker {
    display: none;
  }
  #resume summary::before {
    color: var(--brightest-color);
    content: "■";
    margin-right: 0.4rem;
    vertical-align: 0.1em;
    margin-left: -1px;
    font-size: 0.8rem;
  }
  /*
   Problems: ::marker can't set padding/margin.
   summary::before won't have spacing match different chrome and firefox defaults.
   li::before doesn't work cleanly with multi-line summaries.
   li::before and summary::before doesn't work because you can't turn off
     li::before based on li's children (could with JS but I don't wanna).

   Solution: use @support to write some chrome-specific CSS (as seen on
     https://stackoverflow.com/a/32455002/5889131 ).
   This is a hack that probably won't work long-term, but it's only for
     printing, so I just don't care enough.
  */
  @supports (-webkit-font-smoothing:none) {
     #resume summary::before {
       margin-right: 1rem;
       vertical-align: 0.1em;
       margin-left: -1px;
       font-size: 0.9rem;
     }
  }
}



