:root {
  /* Define our color variables here */

  /* light mode */
  --bg-color: white;
  --text-color: #000d04;

  --name-color: black;
  --muted-color: #404040;

  --accent-color: #8dc26e;

  --title-color: darkgreen;
  --subtitle-color: #01230b;
  --bullet-color: forestgreen;
}


* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
body {
  font-size: 16px;
}
p {
  margin: 1rem 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: inherit;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
hr {
  width: 95%;
  background-color: var(--title-color);
  height: 2px;
  border: 0;
}
b, strong {
  font-weight: 700;
}


#resume {
  /*border: solid var(--accent-color);*/
  height: 297mm;
  width: 210mm;
  /* half-inch margins */
  padding: 1.27cm;
}
.flex {
  display: flex;
  justify-content: space-between;
  /* Late 2020 hype! */
  grid-column-gap: 2rem;
}
.column {
  flex-direction: column;
}
.grow {
  flex-grow: 1;
}
.max-content {
  min-width: max-content;
}
.right-align {
  text-align: right;
}
.summary {
  font-style: oblique 7deg;
  padding-top: 0.2rem;
}

section {
  margin-top: 1rem;
}

ul {
  /* Indent slightly as bullets have 0 spacing before, while text has a small
  amount. This also indents the line-wrapped bullet text a bit, but I don't
  mind how that looks. */
  margin-left: 0.2rem;
  list-style: inside square;
}
ul ul {
  padding-left: 1.5rem;
  margin: 0;
}
li {
  margin: 0;
  margin: 0.15rem 0;
}
/*
Styling these bullets across Chrome/Firefox/Safari was kind of a pain, since
all browsers use different methods to determine the spacing between a bullets
and the text content, and I want to use different bullets (square and the
details triangle).

I tried customizing the bullets with ::before and using `list-style: none;` but
Firefox made the `content: counter(list-item, square);` bullets way too large.

Eventually I gave up on something that felt "clean" and customized Chrome with
summary::-webkit-details-marker and Firefox with summary::marker and accepted
Safari would be off since I don't know anyone who uses it on desktop.
*/

/* Style the bullets properly */
.details {
  list-style: none;
}
li::marker {
  color: var(--bullet-color);
}
/* Chrome doesn't use the same amount of space after a bullet as the details
icon, so we force them to be the same */
summary::-webkit-details-marker {
  padding-right: 0.35rem;
  color: var(--bullet-color);
}
/* and so in firefox we only have font sizing, not padding, to get the lines
to start at the same point */
summary::marker {
  font-size: 0.8em;
  color: var(--bullet-color);
}


.name {
  color: var(--name-color);
}
.title {
  color: var(--title-color);
}
.base-align {
  align-items: baseline;
}
.wrap {
  flex-wrap: wrap;
}
.date {
  /* italic */
  font-style: oblique 14deg;
  color: var(--title-color);
}
.org {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}


.icon {
  height: 1em;
  vertical-align: middle;
}
.right-padded {
  padding-right: 0.5ch;
}
.left-padded {
  padding-left: 0.5ch;
}


/* Style links and hoverable elements */
a {
  padding: 0.125rem;
  border-radius: 8px;
  text-decoration: underline;
}
a:link,a:visited {
  color: inherit;
}
a:hover {
  /* https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3 */
  text-decoration: underline;
  /* TODO better color */
  background-color: var(--accent-color);
}
abbr {
  cursor: help;
  text-decoration: dotted underline;
}
summary:hover {
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  margin: -2px;
  cursor: pointer;
}
summary:focus, summary:active {
  outline: none;
}

.green-filter {
  /* As calculated by https://stackoverflow.com/a/43960991/5889131
   * For 'forestgreen' aka rgb(34, 139, 34)
   */
  /*filter: invert(20%) sepia(97%) saturate(3230%) hue-rotate(124deg) brightness(100%) contrast(73%);

  /* As calculated by https://stackoverflow.com/a/43960991/5889131
   * For 'darkgreen' aka rgb(0, 100, 0)
   */
  filter: invert(21%) sepia(30%) saturate(6459%) hue-rotate(103deg) brightness(92%) contrast(111%);
  /*
  */
}
